@model PawMates.Core.Models.Admin.AddRoleViewModel

<form asp-action="AddRole" method="post">
    <label asp-for="@Model.RoleName" class="form-label-add-edit">Role Name</label>
    <input asp-for="@Model.RoleName" class="form-control" aria-required="true" />
    <span asp-validation-for="@Model.RoleName" class="text-danger"></span>

    <button type="submit" class="btn btn-primary" value="AddRole">Submit</button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}