<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
<body class="not-f-body">
		<div id="notfound">
			<div class="notfound">
				<div class="notfound-bg">
					<div></div>
					<div></div>
					<div></div>
				</div>
				<h1>oops!</h1>
				<h2>Error 404 : Page Not Found</h2>
				<a asp-controller="Home" asp-action="Index" class="btn-success">Go back Home</a>
			</div>
		</div>
</body>

