<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
<body class="not-f-body">
</body>
<section class="p-0 bg-img cover-background er-section" style="background-image: url(https://bootdey.com/img/Content/bg1.jpg);">
    <div class="container-fluid d-flex flex-column">
        <div class="row align-items-center justify-content-center min-vh-100">
            <div class="col-md-9 col-lg-6 my-5">
                <div class="text-center error-page">
                    <h1 class="mb-0 text-secondary">500</h1>
                    <h2 class="mb-4 text-white">Opps! Internal Server Error!</h2>
                    <p class="w-sm-80 mx-auto mb-4 text-white">Unfortunately we're having trouble loading the page you are looking for. Please come back in a while.</p>
                    <div>
                        <a href="#" class="btn btn-info btn-lg me-sm-2 mb-2 mb-sm-0">Return Home</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
