<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
<body class="not-f-body">
    <div id="notfound">
        <div class="notfound" id="notauth">
            <div class="notfound-bg">
                <div></div>
                <div></div>
                <div></div>
            </div>
            <h1 class="text-danger">403</h1>
            <h2 class=text-danger>Access Forbidden</h2>
            <br />
            <p class="text-secondary">You don't have permission to access this page!</p>
            <a asp-controller="Home" asp-action="Index" class="btn-danger">Return Home</a>
        </div>
    </div>
</body>
