<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
<body class="not-f-body">
    <div id="notfound">
        <div class="notfound">
            <div class="notfound-bg">
                <div></div>
                <div></div>
                <div></div>
            </div>
            <h1>500</h1>
            <h2>Opps! Internal Server Error!</h2>
            <br />
            <p>Unfortunately we're having trouble loading the page you are looking for. Please come back in a while.</p>
            <a asp-controller="Home" asp-action="Index" class="btn-success">Return Home</a>
        </div>
    </div>
</body>
