<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
<body class="not-f-body">
    <div id="notfound">
        <div class="notfound" id="notauth">
            <div class="notfound-bg">
                <div></div>
                <div></div>
                <div></div>
            </div>
            <h2 class=text-danger>Oops! Something happened! Please try again later.</h2>
            <br />
            <p class="text-secondary">An error occurred while processing your request</p>
            <div class="text-left h4"> Go back to <a asp-controller="Home" asp-action="Index">Home</a> Page</div>
        </div>
    </div>
</body>
