
<div class="container mt-5">
    <div class="row">
        <div class="col-md-6">
            <h1>Welcome to Pet Social Media</h1>
            <p class="lead">Connect with pet lovers around the world!</p>
        </div>
        <div class="col-md-6">
            <img src="https://www.lonetreevet.com/blog/wp-content/uploads/2017/02/LoneTree_iStock-106396236.jpg" class="img-fluid" alt="Pet Social Media Image">
        </div>
    </div>
</div>