<body style="background: linear-gradient(90deg, rgb(255 255 255) 9%, rgb(255 255 255) 86%);">
    <div class="container mt-5">
        <div class="container-home" style="display:flex; flex-direction:column; align-items:center">
            <div class="col-md-6 lockscr-text" style="text-align:center">
                <h1>Welcome to Pet Social Media</h1>
                <p class="lead">Connect with pet lovers around the world!</p>
            </div>
            <div class="col-md-6">
                <img src="https://www.lonetreevet.com/blog/wp-content/uploads/2017/02/LoneTree_iStock-106396236.jpg" class="img-fluid" style="border-radius:7%" alt="Pet Social Media Image">
            </div>
        </div>
    </div>
</body>
