@using Microsoft.AspNetCore.Identity
@using PawMates.Infrastructure.Data.IdentityModels
@inject SignInManager<ApplicationUser>  signInManager;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PawMates</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/PawMates.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-green border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">PawMates</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">                      
                        @if (signInManager.IsSignedIn(User) @* && User.IsInRole("AdministrativeDirector") *@)
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="AdministrativeDirector" asp-controller="Home" asp-action="AddRole">Add Role</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="AdministrativeDirector" asp-controller="Home" asp-action="GiveRole">Give Role</a>
                            </li>
                        }   
                    </ul>
                    <partial name="_AdministrativeDirectorPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted" style="bottom:0;position: fixed; width:100%;>
        <div class="container">
            &copy; 2024 - PawMates <span class="text-danger">This area is only for AdministrativeDirectors</span>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
